*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
}

label {
    color: white;
}

#exampleInputEmail1 {
    color: white;
}

#exampleInputPassword1 {
    color: white;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.473) !important;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.541) !important;
    padding: 15px !important;
}

.form {
    width: 60%;
}

.form-text {
    color: white;
}